body {
    background-image: url('../public/Photos/fantastic-rainbow-1055846.jpg');
    width: 100px
}

header {
    text-align: center;
}

.creating {
    text-align: center
}

img {
    padding-left: 250px;
    margin-left: 250px;
    border-left: 250px;
    margin-top: 150px;
    visibility: hidden;
}

.status {
    visibility: hidden;
}